extends ../layout

block content
  .page-header
    h3 New Question
  form.form-horizontal(id='question-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='question_text') Question
      .col-sm-7
        input.form-control(type='question_text', name='question_text', id='question_text', placeholder='Question Text', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='answer_types') Answer Types
      .col-sm-7
        input.form-control(type='answer_types', name='answer_types', id='answer_types', placeholder='Answer Types', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Create
